<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplication Table</title>
</head>
<body color = "gray">

    <h3>Multiplication Table for {{ number }}</h3>

    <table border="1">
        <tr>
            <th>Multiplier</th>
            <th>Result</th>
        </tr>
        {% for item in table_data %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
